<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <aside>
            <ul class="nav-articles">
                <li>
                    <a href="/bodyboard">Bodyboard</a>
                </li>
                <li>
                    <a href="/palmes">Palmes</a>
                </li>
                <li>
                    <a href="/combinaisons">Combinaisons</a>
                </li>
                <li>
                    <a href="/accessoires">Accessoires</a>
                </li>
            </ul>
        </aside>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="<%= articles.image %> " class="card-img-top" alt="...">
        </div>
        <div class="col-4">
            <h3 class="card-title"><%= articles.name %></h3>
            <p class="card-text"><%= articles.infos %> </p>
            <p class="price"> <%= articles.price %> € </p>
            <p class="category"> <%= articles.category %> </p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
</div>

<% if (user) { %>
<div class="container">
    <div class="row">
        <div class="col-6">
            <%- include('../partials/editForm', { url: articles.id }) %>
        </div>
        <div class="col-6">
            <%- include('../partials/deleteForm', { url: `/articles/${articles.id}` }) %>
        </div>
    </div>
</div>
<% } %>

<%- include('../partials/footer') %>
</div>
</div>