<%- include('../partials/header') %>

<h2 class="">Modifier l'article</h2>

<form action="/articles/<%= articles.id %>?_method=PUT" method="POST">
    <div class="container">
        <div class="row">
            <div class="col">
                <label for="name">Nom de l'article</label>
                <input class="form-control" type="text" name="name" id="name" value="<%= articles.name %> ">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="price">Prix</label>
                <input class="form-control" type="text" name="price" id="price" value="<%= articles.price %> ">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-select" name="category" id="category" value="<%= articles.category %> ">
                    <option selected><%= articles.category %></option>
                    <option value="bodyboard">Bodyboard</option>
                    <option value="palmes">Palmes</option>
                    <option value="combinaisons">Combinaisons</option>
                    <option value="accessoires">Accessoires</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="infos">Informations</label>
                <textarea class="form-control" type="text" name="infos" id="infos">
                    <%= articles.infos %>
                </textarea>
            </div>
        </div>
        <a class="btn btn-info" href="/">Annuler</a>
        <button class="btn btn-success" type="submit">Modifier</button>
</form>